body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #b03060;
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
}

h2 {
    color: #8b008b;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px auto;
    padding: 15px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}
.flowers {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.flower-card {
    background-color: white;
    width: 250px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.flower-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.flower-card h3 {
    color: #b03060;
}

